In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("movies.csv")
df.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,NaN,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English

In [6]:
df.shape

(37, 10)

In [7]:
df.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [12]:
array=df[["title", "industry", "studio","language", ]]

In [9]:
array.columns

Index(['title', 'industry', 'studio'], dtype='object')

In [10]:
array["title"]

0                                 Pather Panchali
1     Doctor Strange in the Multiverse of Madness
2                           Thor: The Dark World
3                                 Thor: Ragnarok
4                         Thor: Love and Thunder
5                        The Shawshank Redemption
6                                    Interstellar
7                        The Pursuit of Happyness
8                                       Gladiator
9                                         Titanic
10                          It's a Wonderful Life
11                                         Avatar
12                                  The Godfather
13                                The Dark Knight
14                               Schindler's List
15                                  Jurassic Park
16                                       Parasite
17                              Avengers: Endgame
18                         Avengers: Infinity War
19             Captain America: The First Avenger
20            Captain America: The Winter Soldier
21                    Dilwale Dulhania Le Jayenge
22                                       3 Idiots
23                       Kabhi Khushi Kabhie Gham
24                               Bajirao Mastani
25                               Taare Zameen Par
26                            Munna Bhai M.B.B.S.
27                                             PK
28                                          Sanju
29                              The Kashmir Files
30                              Bajrangi Bhaijaan
31                                         Race 3
32                                      Shershaah
33                               K.G.F: Chapter 2
34                      Pushpa: The Rise - Part 1
35                                            RRR
36                       Baahubali: The Beginning
Name: title, dtype: object

In [14]:
array["language"].unique()

array(['Bengali', 'English', 'Hindi', 'Kannada', 'Telugu'], dtype=object)

In [15]:
array.language.value_counts()

language
English    20
Hindi      12
Telugu      3
Bengali     1
Kannada     1
Name: count, dtype: int64

In [21]:
df[(df.release_year >= 2013) & (df.release_year <= 2022)]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
1,Doctor Strange in the Multiverse of Madness,Hollywood,2022,NaN,Marvel Studios,200.0,954.8,Millions,USD,English
2,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
3,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
4,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
6,Interstellar,Hollywood,2014,8.6,Warner Bros. Pictures,NaN,701.8,Millions,USD,English
16,Parasite,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English
17,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,NaN,2798.0,Millions,USD,English
18,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
20,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English
24,Bajirao Mastani,Bollywood,2015,7.2,NaN,1.4,3.5,Billions,INR,Hindi
27,PK,Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi
28,Sanju,Bollywood,2018,NaN,Vinod Chopra Films,NaN,5.9,Billions,INR,Hindi
29,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,250.0,3409.0,Millions,INR,Hindi
30,Bajrangi Bhaijaan,Bollywood,2015,8.1,Salman Khan Films,900.0,11690.0,Millions,INR,Hindi
31,Race 3,NaN,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi
32,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
33,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,NaN,12.5,Billions,INR,Kannada
34,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,NaN,3.6,Billions,INR,Telugu
35,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
36,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [23]:
df[(df.imdb_rating==df.imdb_rating.max()) | (df.imdb_rating==df.imdb_rating.min()) ]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
5,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
31,Race 3,NaN,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [26]:
# iddentifying missing value

df.isnull().any()

title           False
industry         True
release_year    False
imdb_rating      True
studio           True
budget           True
revenue         False
unit            False
currency        False
language        False
dtype: bool

In [27]:
df.isnull().sum()

title           0
industry        2
release_year    0
imdb_rating     2
studio          3
budget          6
revenue         0
unit            0
currency        0
language        0
dtype: int64

In [ ]:
df.